body#careers {
	.careers {
		.info-box {
			border-top: 1px solid $lightgrey;
			
			&:last {
				border-bottom: 1px solid $lightgrey;
			}
			
			p {
				max-width: 60rem;
				
				&:last-child {
					margin-bottom: 0;
				}
			}
			
			button {
				margin-left: 3rem;
			}
			
			@include mq(netbook-max) {
				padding-bottom: 7rem;
				padding-top: 2rem;
				
				button {
					bottom: 1rem;
					margin-right: 1rem;
					margin-left: 0;
					position: absolute;
					right: 0;
				}
			}
		}
	}
}