form {
	label {
		position: relative;
		background: $lightstripes;
		
		span {
			text-transform: uppercase;
			color: #FFF;
			background-color: $red;
			display: inline-block;
			padding: .35rem 1.5rem;
		}
	}
	
	input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
		
	}
	
	textarea {
		
	}
	
	button {
		
	}
}