body#home {
	background-image: url(../images/index/bg-main.jpg);
	background-size: 100% auto;
	background-position: center top;
	background-repeat: no-repeat;
	
	#landing-hero {
		position: relative;
		//height: 80%;
		padding-top: 10%;
		padding-bottom: 10%;
		
		.row {
			background-color: transparent;
		}
	}
	
	.intro-copy {
		.action-bar {
			left: 0!important;
			
			@include mq(tablet) {
				padding-left: 3rem;
			}
			
			@include mq(netbook) {
				padding-left: 3.25rem;
				left: 1rem!important;
			}
			
			@include mq(desktop-hd) {
				padding-left: 5.25rem;
			}
		}
	}
}

.vertical-dividing-stripes {
	@include mq(netbook) {
		background: url(../images/index/vertical-divider-stripes.png);
		display: block;
		width: 34px;
		height: 59px;
		position: absolute;
		z-index: 5;
		left: 50%;
		top: 50%;
		margin-left: -27px;
		margin-top: -29px;
	}
}

.blue-top-bar, section .blue-top-bar {
	background-color: $midblue;
	background-image: $lightstripes;
	background-position: center top;
	position: relative;
	color: #FFF;
	margin-top: 3rem; // Same as the height of the arrow
	padding: 4rem 0 3rem;
	
	a.blue-top-bar-arrow {
		background-color: $midblue;
		background-image: $lightstripes;
		background-position: center bottom;
		position: absolute;
		width: 10rem;
		margin-left: -5rem;
		height: 3rem;
		line-height: 3rem;
		left: 50%;
		top: -3rem;
		text-indent: -9999em;
	}
	
	a.down-carat {
		&:before, &:after {
			right: 50%;
			background-color: $lightgrey;
		}
	}
	
	.pad-left {
		p {
			font-weight: 100;
			margin-left: 8.5rem;
			margin-top: -6.75rem; // Same as icon height
		}
	}
	
	@include mq(netbook) {
		.pad-left {
			p {
				margin-right: 2rem;
			}
		}
		
		.pad-right {
			p {
				margin-left: 2rem;
			}
		}
	}
	
	i.icon {
		height: 6.75rem;
		margin-bottom: 0.25rem;
		margin-top: -0.25rem;
		width: 6.75rem;
		font-size: 6.75rem;
	}
	
	strong {
		font-size: 1.37rem;
		
		a.right-carat {
			color: $lightgrey;
			display: inline-block;
			padding-right: 3.25rem;
			position: relative;
			transition: all .35s ease-in-out 0s;
			
			&:before, &:after {
				height: 4px;
				top: 33%;
				width: 12px;
				background-color: $lightgrey;
			}
			
			&:hover {
				color: $lightblue;
				
				&:before, &:after {
					background-color: $lightblue;
				}
			}
		}
	}
}

.services-bar {
	padding: 1rem;
	
	.table {
		width: 100%;
	}
	
	li {
		list-style: none;
		width: 20%;
		line-height: 1.1;
		
		i.icon {
			font-size: 4rem;
			display: block;
			margin: 0 auto .25em;
			position: relative;
			z-index: 5;
		}
		
		a {
			display: block;
			background-color: $blue;
			color: #FFF;
			text-align: center;
			vertical-align: middle;
			padding: 11%;
			height: 10em;
			position: relative;
			z-index: 1;
			
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			
			&:after {
				background-image: $lightstripes;
				background-repeat: repeat;
				background-position: center bottom;
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 4px;
				z-index: 0;
				transition: all .15s ease-out 0s;
			}
			
			&:hover, &:focus, &:active, &.active {
				&:after {
					height: 100%;
					transition: all .35s ease-out 0s;
				}
			}
		}
		
		&.nav-services-engineering a {
			background-image: url(../images/index/bg-services-engineering.jpg);
		}
		&.nav-services-prototyping a {
			background-image: url(../images/index/bg-services-prototyping.jpg);
		}
		&.nav-services-manufacturing a {
			background-image: url(../images/index/bg-services-manufacturing.jpg);
		}
		&.nav-services-assembly a {
			background-image: url(../images/index/bg-services-assembly.jpg);
		}
		&.nav-services-supply-chain-management a {
			background-image: url(../images/index/bg-services-supply-chain-management.jpg);
		}
	}
}

.global-reach {
	background-image: url(../images/index/bg-global-reach.jpg);
	background-size: cover;
	padding-bottom: 18%;
	
	p {
		margin: 2em 0 4em;
		font-weight: 300;
	}
}