footer
  .row.footer
    .columns.small-12.medium-6.large-8
      ul.footer-links
        li
          a(href="about-us.html") About Us
        li
          a(href="our-approach.html") Our Approach
        li
          a(href="global-reach.html") Global Reach
        li
          a(href="resources.html") Resources
        li
          a(href="contact-us.html") Contact Us
    .columns.small-12.medium-6.large-4
      img.footer-logo(src="images/logos/ajl.png", alt="AJL Manufacturing Inc")
      .contact-info
        address 100 Holleder Parkway <br/>Rochester, NY 14615
        a(href="tel:5852541128") 585.254.1128
        br
        button(href="contact.html").right-carat Directions
    .columns.small-12
      small &copy; 2015 AJL Manufacturing, Inc. All rights reserved
        //a(href="http://archercomm.com/", target="_blank") Archer Communications