header.header(role="banner")
  .header.row
    h1.h1.columns.small-4
      a(href="/")
        img(src="images/logos/ajl.png", alt="AJL Manufacturing Inc").logo
        span.visuallyhidden AJL Manufacturing Inc

    nav.nav.columns.small-8(role="navigation")
      span.toggle-topbar.menu-icon
        a(href="#")
          span Menu

      ul#main-menu.main-nav
        li
          a(href="about-us.html").nav-about-us About Us
        li
          a(href="our-approach.html").nav-our-approach Our Approach
        li
          a(href="global-reach.html").nav-global-reach Global Reach
        li
          a(href="resources.html").nav-resources Resources
        li
          a(href="contact-us.html").nav-contact-us Contact Us