.row.padded.dark-bg
  .columns.small-12
    h2.text-center.red-top-stripes Our services
  .columns.small-12.pad-left.pad-right
    ul.services-list
      li
        i.icon.icon-cycle
        strong Supply chain management
        p.subtle We will optimize and manage the flow of information and materials.
        button(href="#").right-carat Learn more
      li
        i.icon.icon-gear
        strong Engineering
        p.subtle Our highly skilled engineers have a tremendous amount of experience across a broad range of industries.
        button(href="#").right-carat Learn more
      li
        i.icon.icon-box
        strong Prototyping
        p.subtle We work one-on-one with you to create a high quality, low cost prototype and make it come to life.
        button(href="#").right-carat Learn more
      li
        i.icon.icon-arm
        strong Manufacturing
        p.subtle Our facility is strategically designed to achieve the most economical, productive, and expeditious workflow possible.
        button(href="#").right-carat Learn more
      li
        i.icon.icon-interlock
        strong Assembly
        p.subtle Assembly means bringing hundreds of components into one product with ensured quality and care.
        button(href="#").right-carat Learn more