doctype html
html(lang="en").no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title AJL Manufacturing Inc.
    meta(name="description", content="Global Reach | AJL Manufacturing Inc.")
    include _head.jade
  
  body#global-reach
    a(href="#main").visuallyhidden Skip to main content
    
    include _header
    
    section#main
      .row.padded.dark-bg.global-reach
        .columns.small-12.pad-left
          h1.white-top-stripes Global reach
        .columns.small-12.medium-7.large-5.left.pad-left
          p Our capabilities and value-added services have made us an invaluable partner to so many customers across a range of industries around the globe.
          button(href="global-reach.html").right-carat Global reach
          
          .info-box
            span.author Author Name
            hr.red-stripes
            span.date Oct 13, 2015
            h3 Article Title Name
            p.body Lorem ipsum doler sit amat. Lorem ipsum doler sit amat. Lorem ipsum doler sit ipsum doler sit amat.Lorem ipsum doler sit amat. Ipsum doler sit amat, lorem ipsum doler.
            .action-bar
              i.icon.icon-news
              span.category News
              button(href="news.html").right-carat Read more
      
      .row.padded
        .columns.medium-8.large-6.text-center.align-center
          p.text-quote.red-top-stripes Lorem ipsum sit doler amat, consecteur lorem. Doler ipsum, lorem sit amat doler ipsum lorem.
      
      .row
        .columns.small-12.full-photo
          .info-box.right
            span.author Global reach
            hr.red-stripes
            span.date INFO
            h3 Service Name
            p.body Lorem ipsum doler sit amat. Lorem ipsum doler sit amat. Lorem ipsum doler sit ipsum doler sit amat.Lorem ipsum doler sit amat. Ipsum doler sit amat, lorem ipsum doler.
            .action-bar
              i.icon.icon-news
              span.category 1
              button(href="news.html").right-carat Learn more
          img(src="images/photos/factory-1.jpg" alt="")
        .columns.small-12.full-photo
          .info-box.left
            span.author Global reach
            hr.red-stripes
            span.date INFO
            h3 Service Name
            p.body Lorem ipsum doler sit amat. Lorem ipsum doler sit amat. Lorem ipsum doler sit ipsum doler sit amat.Lorem ipsum doler sit amat. Ipsum doler sit amat, lorem ipsum doler.
            .action-bar
              i.icon.icon-news
              span.category 2
              button(href="news.html").right-carat Learn more
          img(src="images/photos/factory-2.jpg" alt="")
        .columns.small-12.full-photo
          .info-box.right
            span.author Global reach
            hr.red-stripes
            span.date INFO
            h3 Service Name
            p.body Lorem ipsum doler sit amat. Lorem ipsum doler sit amat. Lorem ipsum doler sit ipsum doler sit amat.Lorem ipsum doler sit amat. Ipsum doler sit amat, lorem ipsum doler.
            .action-bar
              i.icon.icon-news
              span.category 3
              button(href="news.html").right-carat Learn more
          img(src="images/photos/factory-3.jpg" alt="")
        .columns.small-12.full-photo
          .info-box.left
            span.author Global reach
            hr.red-stripes
            span.date INFO
            h3 Service Name
            p.body Lorem ipsum doler sit amat. Lorem ipsum doler sit amat. Lorem ipsum doler sit ipsum doler sit amat.Lorem ipsum doler sit amat. Ipsum doler sit amat, lorem ipsum doler.
            .action-bar
              i.icon.icon-news
              span.category 4
              button(href="news.html").right-carat Learn more
          img(src="images/photos/factory-4.jpg" alt="")
        .columns.small-12.full-photo
          .info-box.right
            span.author Global reach
            hr.red-stripes
            span.date INFO
            h3 Service Name
            p.body Lorem ipsum doler sit amat. Lorem ipsum doler sit amat. Lorem ipsum doler sit ipsum doler sit amat.Lorem ipsum doler sit amat. Ipsum doler sit amat, lorem ipsum doler.
            .action-bar
              i.icon.icon-news
              span.category 5
              button(href="news.html").right-carat Learn more
          img(src="images/photos/factory-5.jpg" alt="")
        .columns.small-12.full-photo
          .info-box.left
            span.author Global reach
            hr.red-stripes
            span.date INFO
            h3 Service Name
            p.body Lorem ipsum doler sit amat. Lorem ipsum doler sit amat. Lorem ipsum doler sit ipsum doler sit amat.Lorem ipsum doler sit amat. Ipsum doler sit amat, lorem ipsum doler.
            .action-bar
              i.icon.icon-news
              span.category 6
              button(href="news.html").right-carat Learn more
          img(src="images/photos/factory-6.jpg" alt="")
    
    include _project_callout
      
    include _footer
    include _scripts.jade