doctype html
html(lang="en").no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title AJL Manufacturing Inc.
    meta(name="description", content="Supply Chain Management | AJL Manufacturing Inc.")
    include _head.jade
  
  body#careers
    a(href="#main").visuallyhidden Skip to main content
    
    include _header
    
    section#main
      .row.no-padding.table
        .table-row
          .half-width.pad-left.pad-right.padded.intro-copy
            span.author Our approach
            hr.red-stripes
            h1 Supply chain management
            p Optimizing the flow of information and materials can require an overwhelming amount of time and resources. We’ll manage the entire bill of materials to eliminate the cost and hassle of tracking multiple shipments and to reduce inventory liability for you.
            .action-bar
              button.left.left-carat Our approach
          .half-width
            img(src="images/photos/office-discussion.jpg", alt="").photo
      
      .row.padded.dark-bg
        .columns.small-12.text-center
          h2.red-top-stripes What makes AJL different?
        .columns.small-12.medium-6
          ol.numbered-list
            li
              span.number 1
              p Each customer is assigned their own Project Engineer who will specialize in their specific product and provide cost reduction ideas for its manufacturing.
            li
              span.number 2
              p  The ability to work with you from the beginning of a project to its end.

        .columns.small-12.medium-6
          ol.numbered-list
            li
              span.number 3
              p Constantly looking for alternatives, quality issues, and ensuring the product is exactly what you needed—and more.
            li
              span.number 4
              p Always solving demanding product and tooling design, application, materials, and cost-containment problems.
      
      
      .row.padded.technology
        .columns.small-12
          h2.red-top-stripes.text-center Case Study
        
        .pad-left.pad-right.table
          .table-row
            .dark-bg.half-width.pad-left.pad-right.padded
              h4 Carestream
              p One of our engineers worked alongside Carestream employees in their offices for about a year to realize their vision. 
              p Together they designed, prototyped, manufactured, and assembled a 568-component project with AJL handling the supply chain management.
              p The final product was branded with Carestream logos and shipped directly to their customers.
            .half-width
              img(src="images/photos/welding.jpg").photo
              .action-bar
                i.icon.icon-layers
                button(href="prototyping.html").right-carat Prototyping
      
      
      .row.padded
        .columns.small-12
          h2.red-top-stripes.text-center Technology
        .columns.small-8.text-center.align-center
          p At AJL, our 165,000 square foot, environmentally controlled facility and extensive array of state-of-the-art equipment enable us to meet our customers&rsquo; most demanding manufacturing needs.
        
        .pad-left.pad-right.table
          .table-row
            .dark-bg.half-width.pad-left.pad-right.padded
              h4 Industries served
              ul.lines-list
                li
                  a(href="#") Office and mail equipment
                li
                  a(href="#") Homeland security
                li
                  a(href="#") Medical devices
                li
                  a(href="#") Oil and gas
                li
                  a(href="#") Office and mail equipment
                li
                  a(href="#") Homeland security
                li
                  a(href="#") Medical devices
                li
                  a(href="#") Oil and gas
                li
                  a(href="#") Office equipment
            .half-width
              img(src="images/photos/welding.jpg").photo
              .action-bar
                i.icon.icon-layers
                button(href="industries.html").right-carat Industries
      
      include _our_services
      
    include _project_callout
      
    include _footer
    include _scripts.jade